#tris {
    width: 30vw;
    border: 3px solid var(--Flamingo-HEX);
    height: 30vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#tris > div {
    border: 1px solid var(--Crust-HEX);
    width: 98%;
    height: 98%;
    margin: auto;

}

#tris > div:hover {
    cursor: pointer;
    border-color: var(--Sapphire-HEX);
}

#tris > div.selected:hover {
    cursor: default;
    border-color: var(--Crust-HEX);
}

.redElement {
    background-color: var(--Red-HEX);
}

.greenElement {
    background-color: var(--Green-HEX);
}


#leaderboard {
    width: 100%;
    display: flex;
    height: auto;
}

#leaderboard > h2 {
    width: fit-content;

    margin: 0;

}

#leaderboard > .playerName:hover {
    cursor: pointer;
}

#leaderboard > .player-1.underline {
    border-bottom: 3px solid var(--Green-HEX);
    text-decoration-color: var(--Green-HEX);
}

#leaderboard > .player-2.underline {
    border-bottom: 3px solid var(--Red-HEX);
    text-decoration-color: var(--Red-HEX);
}

#leaderboard > *:nth-child(3) {
    margin-right: 0;
    margin-left: auto;
}

.modalBackground {
    opacity: 80%;
    width: 100vw;
    left: 0;
    top: 0;
    height: 100vh;
    position: absolute;
    background: var(--Crust-HEX);
    display: flex;
    justify-content: center;
    align-items: center;
}

.playerEdit {
    color: var(--Text-HEX);
    font-size: 20px;
    border: 0;
    background: transparent;
}

.gameButton:hover {
    cursor: pointer;
}

#gameButtons {
    position: fixed;
    bottom: 7px;
}




/* === THEME ONE === */

body.theme-1 {
    background: var(--Rosewater-HEX);
}


*.theme-1 {
    color: var(--Surface1-HEX);
}

hr.theme-1 {
    background: var(--Maroon-HEX);
}

#tris.theme-1 {
    border-color: var(--Red-HEX);
}

#tris.theme-1>*{
    border-color: var(--Flamingo-HEX);
}

#modalBackground.theme-1 > h1 {
    color: var(--Flamingo-HEX);
    opacity: 100%;
}


/* === THEME TWO === */

body.theme-2 {
    background: var(--Peach-HEX);
}


*.theme-2 {
    color: var(--Surface0-HEX);
}

hr.theme-2 {
    background: var(--Red-HEX);
}

#tris.theme-2 {
    border-color: var(--Red-HEX);
}

#tris.theme-2>*{
    border-color: var(--Flamingo-HEX);
}

#modalBackground.theme-2 > h1 {
    color: var(--Flamingo-HEX);
    opacity: 100%;
}

/* === THEME THREE === */

body.theme-3 {
    background: var(--Maroon-HEX) ;
}


*.theme-3 {
    color: var(--Surface0-HEX);

}

hr.theme-3 {
    background: var(--Red-HEX);
}

#tris.theme-3 {
    border-color: var(--Base-HEX);
}

#tris.theme-3>*{
    border-color: var(--Surface2-HEX);
}

#modalBackground.theme-3 > h1 {
    color: var(--Flamingo-HEX);
    opacity: 100%;
}


*.theme-3 > .redElement {
    background: var(--Peach-HEX);
}

#leaderboard.theme-3 > .player-1.underline {
    border-bottom-color: var(--Green-HEX);
    text-decoration-color: var(--Green-HEX);
}

#leaderboard.theme-3 > .player-2.underline {
    border-bottom-color: var(--Peach-HEX);
    text-decoration-color: var(--Peach-HEX);
}

/* === THEME FOUR === */

body.theme-4 {
    background: var(--Rosewater-HEX);
}


*.theme-4 {
    color: var(--Surface2-HEX);
}

hr.theme-4 {
    background: var(--Maroon-HEX);
}

#tris.theme-4 {
    border-color: var(--Maroon-HEX);
}

#tris.theme-4>*{
    border-color: var(--Flamingo-HEX);
}

#modalBackground.theme-4 > h1 {
    color: var(--Flamingo-HEX);
    opacity: 100%;
}

