#tris {
    width: 30vw;
    border: 1px solid var(--Flamingo-HEX);
    height: 30vw;
    margin: auto;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}

#tris > div {
    border: 1px solid var(--Crust-HEX);
    width: 100%;
    height: 100%;

}

#tris > div:hover {
    cursor: pointer;
    border-color: var(--Sapphire-HEX);
}

#tris > div.selected:hover {
    cursor: default;
    border-color: var(--Crust-HEX);
}

.redElement {
    background-color: var(--Red-HEX);
}

.greenElement {
    background-color: var(--Green-HEX);
}


#leaderboard {
    width: 100%;
    display: flex;
    height: auto;
}

#leaderboard > h2 {
    width: fit-content;
    margin: 0;

}

#leaderboard > h2:nth-child(2) {
    margin-right: 0;
    margin-left: auto;
}