#drumDiv {
    width: 90vw;
    height: 90vh;
    margin: auto;
    /*
    border: 1px solid green;
    */

}
#drumDiv > div {
    position: absolute;
    color: black;
    z-index: 50;
}

#drumDiv > div > img {
    width: 100%;
    height: 100%;
}

#drumDiv > div:hover {
    transform: scale(102%);
    filter: brightness(118%);

}

#drumDiv > .shadow {
    position: absolute;
    bottom: 0;
    width: 90%;
    margin-inline: auto;
    filter: brightness(118%);
}

#drumDiv > .kick {
    background: var(--Green-HEX);
    width: 20vw;
    top: 50%;
    left: 0;
    right: 0;
    margin-inline: auto;
    height: 20vw;
}

#drumDiv > .snare {
    width: 10vw;
    height: 15vw;
    left: 35vw;
    top: 65%;
    background: var(--Maroon-HEX);
}

#drumDiv > .snare {
    width: 14vw;
    height: 20vw;
    left: 33vw;
    top: 48%;
    background: var(--Blue-HEX);
}

#drumDiv > .floor-tom {
    width: 18vw;
    height: 18vw;
    left: 54vw;
    top: 58%;
    background: var(--Flamingo-HEX);
}


#drumDiv > .tom-1 {
    width: 10vw;
    height: 10vw;
    left: 51vw;
    top: 37%;
    background: var(--Peach-HEX);
}

#drumDiv > .tom-2 {
    width: 10vw;
    height: 10vw;
    left: 39vw;
    top: 37%;
    background: var(--Peach-HEX);
}

#drumDiv > .HH {
    width: 10vw;
    height: 21vw;
    left: 24vw;
    top: 45%;
    background: var(--Pink-HEX);
}

#drumDiv > .crash-1 {
    width: 12vw;
    height: 30vw;
    left: 30vw;
    top: 25%;
    background-color: var(--Mauve-HEX);

}

#drumDiv > .crash-2 {
    width: 12vw;
    height: 25vw;
    left: 55vw;
    top: 25%;
    background: var(--Mauve-HEX);
}

#drumDiv > .ride {
    width: 10vw;
    height: 22vw;
    left: 66vw;
    top: 35%;
    background: var(--Mauve-HEX);
}

#drumDiv > div {
    background: none !important;
}