* {
    font-family: Impact, sans-serif;
    letter-spacing: 0.6px;
}

body {
    background-color: #24273a;
    color: var(--Text-HEX);
    margin: 30px;
}

canvas {
    border: 1px solid red;
    margin: 20px;
    width: 250px;
    height: 150px;
}

#SE {

}